<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@app_name@</title>
    <link rel="stylesheet" href="{{hostStylesheetUrl}}">
    <link rel="stylesheet" href="public/css/styles.css">
    <script src="{{hostScriptUrl}}"></script>
    <script>RA.init();</script>
  </head>
  <body>
    <h2>Request Properties</h2>
    <table width="100%">
      <tr>
        <th align="left" colspan="2">properties</th>
      </tr>
      <tr>
        <td>host base url</td>
        <td>{{hostBaseUrl}}</td>
      </tr>
      <tr>
        <td>client key</td>
        <td>{{clientKey}}</td>
      </tr>
      <tr>
        <td>user id</td>
        <td>{{userId}}</td>
      </tr>
      <tr>
        <td>method</td>
        <td>{{method}}</td>
      </tr>
      <tr>
        <td>script name</td>
        <td>{{scriptName}}</td>
      </tr>
      <tr>
        <td>path info</td>
        <td>{{pathInfo}}</td>
      </tr>
      <tr>
        <td>query string</td>
        <td>{{queryString}}</td>
      </tr>
      <tr>
        <td>host</td>
        <td>{{host}}</td>
      </tr>
      <tr>
        <td>port</td>
        <td>{{port}}</td>
      </tr>
      <tr>
        <td>scheme</td>
        <td>{{scheme}}</td>
      </tr>
      <tr>
        <th align="left" colspan="2">headers</th>
      </tr>
      {{#headers}}
      <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
      </tr>
      {{/headers}}
    </table>
    <script src="public/js/client.js"></script>
  </body>
</html>
